* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "spartan", sans-serif;
  color: rgb(236, 139, 222);
}

body {
  background-color: rgb(34, 11, 52);
}
textarea {
  resize: none;
}
.navBar {
  display: flex;
  align-items: center;
  padding: 8px 7px 2px 25px; /* this is chngd*/
  background-color: #9098c0;
  box-shadow: 0 15px 15px rgba(209, 50, 50, 0.06);
  z-index: 500;
  position: sticky;
  top: 0;
  left: 0;
  height: 70px;
}

.navBar a {
  text-decoration: none;
  font-size: 30px;
  font-weight: 700;
  color: #addcfc;
  background-color: #9098c0;
  transition: 0.3s ease;
}

.navBar input {
  background-color: antiquewhite;
  padding: 10px 20px;
  border-radius: 20px;
  width: 45vw;
  position: relative;
  left: 14vw;
  /* margin: 0 5% 0 8%; to move search bar */
}

.navBar .Profile {
  /* height: 100px; */
  position: relative;
  left: 15vw;
}

.navBar .Profile img {
  border: 3px dotted rgb(13, 79, 154);
  position: absolute;
  /* margin-left: 65vw; */
  bottom: -20px;
  right: -65vw;
}
.content {
  display: flex;
  /* flex-direction: row; */
}
.content .fstcol {
  border: 2px solid rgb(236, 139, 222);
  position: fixed;
  height: 80%;
  width: 210px;
  background-color: #b7cadf;
}
.upper .active {
  background-color: #a8b6d2;
}
.content hr {
  border-top: 1px dashed red;
}
.content h4 {
  font-size: 25px;
  font-weight: 700;
  color: rgb(55, 129, 151);
}
.fstcol .nav {
  font-size: 25px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
}
.fstcol .nav a {
  color: rgb(11, 32, 168);
  padding: 15px 15px 5px 15px;
  text-decoration: none;
}
.fstcol .nav a:hover {
  background-color: rgb(210, 220, 229);
}
.fstcol .nav .active {
  background-color: rgb(151, 184, 215);
}
.fstcol .lower li {
  color: rgb(11, 32, 168);
  font-size: 20px;
  font-weight: 600;
  padding: 10px 5px 1px 22px;
}

.fstcol .lower li::before {
  display: inline-block;
  content: "";
  border-radius: 10px;
  height: 0.6rem;
  width: 0.65rem;
  margin-right: 0.5rem;
  background-color: rgb(55, 129, 151);
}
.content .middlecol {
  margin-left: 225px;
}
.content .middlecol p {
  font-size: 28px;
  font-weight: 700;
  color: rgb(50, 109, 160);
}
.content .middlecol .createButton {
  display: flex;
  margin-top: 10px;
}

.content .middlecol .createButton .create {
  position: relative;
  left: 45vw; /*decrease thsi acc to media query*/
  font-size: 15px;
  font-weight: 600;
  margin-right: 30px;
  cursor: pointer;
  border-radius: 10px;
  background-color: rgb(227, 236, 229);
  color: rgb(24, 180, 63);
  padding: 10px;
}
.content .middlecol .createButton .create:hover {
  color: rgb(222, 238, 222);
  background-color: rgb(24, 164, 59);
  transition: 0.5s ease;
}
.content .middlecol .addPopup {
  /*remove this using Js to show input box*/
  display: none;
}
/* For chngng creating query css */
.AddQueryBox {
  margin: 160px;
  padding: 30px;
  border-radius: 15px;
  background-color: rgb(105, 136, 186);
  /* color: rgb(229, 255, 0); */
}
.AddQueryBox label {
  color: rgb(112, 216, 225);
  padding: 10px;
  font-size: 25px;
  font-weight: 700;
}
.AddQueryBox input,
.AddQueryBox textarea {
  padding: 7px;
  border-radius: 10px;
  color: rgb(109, 42, 175);
  font-size: 17px;
  font-weight: 600;
}
.AddQueryBox .lowerBtn {
  display: flex;
  /* justify-content: space-between; */
}
.AddQueryBox .lowerBtn .btn {
  padding: 10px 8px;
  border-radius: 10px;
  border: 0px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
}
.AddQueryBox .lowerBtn .btn:hover {
  background-color: rgb(29, 181, 29);
  color: white;
  transition: 0.5s ease;
}
.AddQueryBox .lowerBtn .outerOTP {
  margin-left: 80%;
  color: rgb(112, 216, 225);
  /* background-color: white; */
}
.AddQueryBox .lowerBtn .OTP {
  margin-left: 10px;
  background-color: white;
  border-radius: 10px;
  padding: 8px;
}
.AddQueryBox .closeButton {
  position: absolute;
  right: 171px;
  top: 170px;
  font-size: 17px;
  font-weight: 600;
  border: 0px;
  border-radius: 10px;
  padding: 7px 10px;
  cursor: pointer;
  color: rgb(203, 33, 33);
  background-color: white;
}
.AddQueryBox .closeButton:hover {
  color: white;
  background-color: rgb(225, 30, 30);
  transition: 0.4s ease;
}
.content .middlecol .popupButton {
  /*to make popup which is having background black and will cover whole page*/
  /*this class will be added using js*/
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 600;
  background-color: rgba(13, 13, 13, 0.884);
}

.content .middlecol .query {
  /*now to make popup */
  background-color: rgb(163, 174, 193);
  width: 65vw;
  height: 185px;
  border: 3px solid blue;
  margin: 10px 15px 20px 2px;
  border-radius: 20px;
}
.content .middlecol .query .header {
  display: flex;
}
.content .middlecol .query p,
.content .middlecol .query .Ques {
  /* margin-top: 5px; */
  margin-left: 20px;
  font-size: 22px;
  font-weight: 700;
}
.content .middlecol .query .Ans {
  margin-left: 8px;
  font-size: 20px;
  font-weight: 700;
  color: rgb(142, 88, 192);
}
.content .middlecol .query .scndTag {
  margin-left: 34%;
}

.content .middlecol .query .Description {
  display: flex;
}
.content .middlecol .query .tags {
  display: flex;
}
.content .middlecol .query .resolved {
  padding: 10px 5px;
  border-radius: 10px;
  position: relative;
  left: 91%;
  bottom: 20%;
  border: 2px solid white;
  cursor: pointer;
  font-size: 15px;
  font-weight: 700;
  /* box-shadow: rgb(9, 204, 226); */
  background-color: rgb(24, 179, 24);
  color: white;
}
.content .middlecol .query .tags p {
  border: 2px solid rgb(228, 198, 171);
  border-radius: 10px;
  padding: 6px;
  background-color: rgb(176, 192, 206);
}
.content .middlecol .query .Description,
.content .middlecol .query p {
  margin-top: 8px;
}

/* for resolved pop up */
.hide {
  display: none;
}

/*fixing lst col*/
.content .colEnd {
  border: 2px solid rgb(236, 139, 222);
  position: fixed;
  /* left: 85vw; */
  right: 0px;
  height: 80%;
  width: 260px;
  background-color: #b7cadf;
}
.colEnd .nav {
  font-size: 25px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
}
.colEnd .rating p {
  color: rgb(11, 32, 168);
  padding: 15px 15px 8px 15px;
}
.colEnd .rating {
  background-color: rgb(151, 184, 215);
}
.colEnd .rating p {
  font-size: 25px;
  font-weight: 700;
  text-align: center;
}
.colEnd .lower li {
  color: rgb(11, 32, 168);
  font-size: 20px;
  font-weight: 600;
  padding: 10px 5px 1px 22px;
  list-style-type: none;
}

.colEnd .lower li::before {
  display: inline-block;
  content: "";
  border-radius: 10px;
  height: 0.6rem;
  width: 0.65rem;
  margin-right: 0.5rem;
  background-color: rgb(55, 129, 151);
}

/*Media Query*/
/*Large-Medium Devices*/
@media (max-width: 1456px) {
  /*when screen width <= 1450 this will get applied*/
  .navBar .Profile {
    left: 12vw;
  }
  .content .middlecol .query {
    /*now to make popup */
    width: 62vw;
    height: 185px;
  }
  .content .middlecol .createButton .create {
    left: 41vw; /*decrease thsi acc to media query*/
  }
  .content .middlecol .query .resolved {
    left: 88%;
    bottom: 23%;
  }
  .content .middlecol .query .scndTag {
    margin-left: 33%;
  }
  .AddQueryBox .lowerBtn .outerOTP {
    margin-left: 65%;
  }
  .middlecol .txtArVal {
    width: 50vw;
  }
}

/*mediun Medium Devices*/
@media (max-width: 1332px) {
  .navBar .Profile {
    left: 11vw;
  }
  .content .middlecol .query {
    /*now to make popup */
    width: 60vw;
    height: 185px;
  }
  .content .middlecol .createButton .create {
    left: 37vw; /*decrease thsi acc to media query*/
  }

  .content .middlecol .query .scndTag {
    margin-left: 28%;
  }
  .content .colEnd {
    width: 220px;
  }
  .AddQueryBox .lowerBtn .outerOTP {
    margin-left: 55%;
  }
  .middlecol .txtArVal {
    width: 50vw;
  }
}

/*small Medium Devices*/
@media (max-width: 1225px) {
  .navBar .Profile {
    left: 9vw;
  }
  .content .middlecol .query {
    /*now to make popup */
    width: 56vw;
    height: 185px;
  }
  .content .middlecol .createButton .create {
    left: 30vw; /*decrease thsi acc to media query*/
  }
  .content .middlecol .query .resolved {
    left: 86%;
    bottom: 23%;
  }
  .content .middlecol .query .scndTag {
    margin-left: 21%;
  }
}

/* Media query for making query fixed for small devices */
@media (max-width: 1130px) {
  .navBar .Profile {
    left: 3vw;
  }
  .content .middlecol .query p,
  .content .middlecol .query .Ques {
    font-size: 18px;
    font-weight: 600;
  }
  .content .middlecol .query .Ans {
    font-size: 18px;
    font-weight: 700;
  }
  .content .middlecol .query {
    width: 50vw;
    height: 250px;
  }
  .content .middlecol .query .header {
    display: flex;
    flex-direction: column;
  }

  .content .middlecol .query .header .Ans {
    margin-left: 22px;
  }
  .content .middlecol .createButton .create {
    left: 19vw;
  }
  .content .middlecol .query .resolved {
    left: 82%;
    bottom: 17%;
  }
  .content .middlecol .query .scndTag {
    margin-left: 3%;
  }
}

@media (max-width: 930px) {
  .content .colEnd {
    display: none;
  }
  .content .middlecol .query .resolved {
    font-size: 11px;
    font-weight: 600;
    left: 70%;
    bottom: 17%;
  }
  .content .middlecol .query p,
  .content .middlecol .query .Ques {
    font-size: 14px;
    font-weight: 600;
  }
  .content .middlecol .query .Ans {
    font-size: 13px;
    font-weight: 700;
  }
  .content .middlecol .query {
    width: 55vw;
    height: 300px;
  }
  .navBar .Profile {
    position: relative;
    left: -50px;
    /* right: 100vw; */
  }
  .content .fstcol {
    position: fixed;
    height: 80%;
    width: 180px;
    background-color: #b7cadf;
  }
  .fstcol {
    font-size: 10px;
    font-weight: 600;
  }
  .content .middlecol .createButton .create {
    font-size: 12px;
    font-weight: 600;
    left: 20%;
  }
  .content .middlecol .query .tags {
    /* display: flex; */
    flex-direction: column;
    width: 110px;
  }
  .AddQueryBox .lowerBtn .outerOTP {
    margin-left: 40%;
  }
  .middlecol .txtArVal {
    width: 50vw;
  }
}
@media (max-width: 760px) {
  .AddQueryBox .lowerBtn .outerOTP {
    margin-left: 10%;
  }
  .middlecol .txtArVal {
    width: 40vw;
  }
}
/*for Mobile Phones*/
@media (max-width: 630px) {
  .content .middlecol p {
    font-size: 22px;
    /* padding-top: 2px; */
    font-weight: 600;
  }

  .content .middlecol {
    margin-left: 160px;
  }

  .fstcol .nav {
    font-size: 20px;
    font-weight: 600;
  }
  .fstcol .lower li {
    font-size: 18px;
    font-weight: 600;
  }
  .fstcol .chngSize {
    font-size: 20px;
    font-weight: 600;
  }
  .content .middlecol .query {
    width: 55vw;
    height: 320px;
  }
  .content .middlecol .query .Description {
    display: flex;
    flex-direction: column;
  }
  .content .middlecol .query .resolved {
    font-size: 11px;
    font-weight: 600;
    left: 65%;
    bottom: 17%;
  }
  .content .fstcol {
    border: 2px solid rgb(236, 139, 222);
    position: fixed;
    height: 80%;
    width: 150px;
    background-color: #b7cadf;
  }
  .navBar .Profile {
    left: -35vw;
  }
  .content .middlecol .createButton .create {
    left: 10%;
  }
  .content .middlecol p {
    font-size: 20px;
    /* padding-bottom: 19px; */
  }
  .middlecol label,
  .middlecol .outerOTP {
    font-size: 0px;
  }
  .middlecol .nameVal,
  .middlecol .regVal,
  .middlecol .txtArVal,
  .middlecol .tags,
  .middlecol .recOTP,
  .middlecol label {
    width: 100%;
    font-size: 18px;
  }

  .AddQueryBox {
    margin: 115px;
    padding: 25px;
  }
  .AddQueryBox .closeButton {
    position: absolute;
    right: 131px;
    top: 122px;
  }
  .AddQueryBox .lowerBtn {
    display: flex; /* justify-content: space-between; */
    flex-direction: column;
  }
}
/*for small Mobile Phones*/
@media (max-width: 390px) {
  .content .middlecol .createButton .create {
    left: 0%;
    /* display: none; */
  }
  .content .middlecol .query {
    width: 50vw;
    height: 320px;
  }
}
