* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "spartan", sans-serif;
  color: rgb(236, 139, 222);
}

body {
  background-color: rgb(34, 11, 52);
}

.navBar {
  display: flex;
  align-items: center;
  padding: 8px 7px 2px 25px; /* this is chngd*/
  background-color: #9098c0;
  box-shadow: 0 15px 15px rgba(209, 50, 50, 0.06);
  z-index: 500;
  position: sticky;
  top: 0;
  left: 0;
}

.navBar a {
  text-decoration: none;
  font-size: 30px;
  font-weight: 700;
  color: #addcfc;
  background-color: #9098c0;
  transition: 0.3s ease;
}

.navBar input {
  background-color: antiquewhite;
  padding: 10px 20px;
  border-radius: 20px;
  width: 45vw;
  position: relative;
  left: 14vw;
  /* margin: 0 5% 0 8%; to move search bar */
}

.navBar .Profile {
  /* height: 100px; */
  position: relative;
  left: 15vw;
}

.navBar .Profile img {
  border: 3px dotted rgb(13, 79, 154);
  position: relative;
  margin-left: 19vw;
}
.content {
  display: flex;
  /* flex-direction: row; */
}
.content .fstcol {
  border: 2px solid rgb(236, 139, 222);
  position: fixed;
  height: 80%;
  width: 210px;
  background-color: #b7cadf;
}
.upper .active {
  background-color: #a8b6d2;
}
.content hr {
  border-top: 1px dashed red;
}
.content h4 {
  font-size: 25px;
  font-weight: 700;
  color: rgb(55, 129, 151);
}
.fstcol .nav {
  font-size: 25px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
}
.fstcol .nav a {
  color: rgb(11, 32, 168);
  padding: 15px 15px 5px 15px;
  text-decoration: none;
}
.fstcol .nav a:hover {
  background-color: rgb(210, 220, 229);
}
.fstcol .nav .active {
  background-color: rgb(151, 184, 215);
}
.fstcol .lower li {
  color: rgb(11, 32, 168);
  font-size: 20px;
  font-weight: 600;
  padding: 10px 5px 1px 22px;
}

.fstcol .lower li::before {
  display: inline-block;
  content: "";
  border-radius: 10px;
  height: 0.6rem;
  width: 0.65rem;
  margin-right: 0.5rem;
  background-color: rgb(55, 129, 151);
}
.content .middlecol {
  margin-left: 225px;
}
.content .middlecol p {
  font-size: 25px;
  font-weight: 700;
  color: rgb(50, 109, 160);
}
.content .middlecol .createButton {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.content .middlecol .createButton .create {
  font-size: 15px;
  font-weight: 600;
  margin-right: 30px;
  cursor: pointer;
  border-radius: 10px;
  background-color: rgb(227, 236, 229);
  color: rgb(24, 180, 63);
  padding: 10px;
}
.content .middlecol .createButton .create:hover {
  /* background-color: rgb(68, 174, 84); */
  color: rgb(222, 238, 222);
  background-color: rgb(24, 164, 59);
}
.content .middlecol .addPopup {
  /*remove this using Js to show input box*/
  display: none;
}
/* .AddQueryBox .closeButton {
  display: none;
} */
.content .middlecol .popupButton .AddQueryBox {
  background-color: white;
}
.content .middlecol .popupButton {
  /*this class will be added using js*/
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 600;
  background-color: rgba(13, 13, 13, 0.884);
}

.content .middlecol .query {
  background-color: rgb(163, 174, 193);
  width: 65vw;
  height: 170px;
  border: 3px solid blue;
  margin: 10px 15px 20px 2px;
  border-radius: 20px;
}
.content .middlecol .query .header {
  display: flex;
}
.content .middlecol .query p,
.content .middlecol .query .Ques {
  /* margin-top: 5px; */
  margin-left: 20px;
  font-size: 20px;
  font-weight: 700;
}
.content .middlecol .query .Ans {
  font-size: 20px;
  font-weight: 700;
  color: rgb(142, 88, 192);
}
.content .middlecol .query .scndTag {
  margin-left: 45%;
}

.content .middlecol .query .Description {
  display: flex;
}
.content .middlecol .query .tags {
  display: flex;
}
.content .middlecol .query .tags p {
  border: 2px solid rgb(228, 198, 171);
  border-radius: 10px;
  padding: 6px;
  background-color: rgb(176, 192, 206);
}
.content .middlecol .query .Description,
.content .middlecol .query p {
  margin-top: 8px;
}
